<!DOCTYPE html>
<html>
<head>
	<title>learn主页</title>
	<meta charset="utf-8">
	<style type="text/css">
		.nav{
			border: 2px solid #bfbfbf;
			border-radius: 18px;
			background-color: #bfbfbb;
			text-indent: 2em;
		}
		ul{
			list-style-type: none ;
		}
	</style>
</head>
<body>

<div class="nav">
	<h3>python的三个应用</h3>
	<ul>
		<li><a href="/learn/0">pygame</a></li>
		<li><a href="/learn/1">scrapy</a></li>
		<li><a href="/learn/2">django</a></li>
		
	</ul>
</div>



</body>
</html>