div{
		width: 900px;
		border:2px solid #bbb;
		border-radius: 20px;
		background-color: #bfbfbf;
		margin: 0 auto;
		line-height: 36px;
		font-size: 20px;
		padding: 20px;
		box-sizing: border-box;}
	</style>